.Cadastro {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 30px;
    
  
  }

  h1{
    text-align: left;
    text-decoration-line: underline;
  }
  
 
  input{
    display: -moz-inline-box;
    width: 20%;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
  
  }
  
  label{
    display:inline-table;
    width: 22%;
    padding-bottom: 30px;
    
  }
  select{
    display: inline-block;
    width: 20.5%;
    height: 22px;
    margin-right: 20px;
    text-align: center;
  }
  button{
    display: inline;
    width: 12%;
    margin: 30px;
    background-color: cadetblue;
    border-radius: 10px;
  }
  
  #cadastrar{
    display:inline ;
    background-color:#005F89;
    width: 12%;
    padding: 15px;
    border-radius: 10px;
    margin-right: 8 0px;
    box-sizing: border-box;
    
  }
 
   #box{
    display:inline;
    width: 15%;
    height: 30px;
    padding: 15px;
    background-color: lightpink;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 80px;
    box-sizing: border-box;
  }
  