.container {
    text-align: center;
    
}
.usuario{
    text-align: center;
   margin:auto
}
.funcionario{
    text-align: center;
    margin: auto;
  
   
}
h1{
    text-align: left;
    text-decoration: underline;
}
input{
    text-align: center;
    margin-top: 15px;
}


#confirmar{
    text-align: center;
padding-top: 10px;

}
#box{
    margin-left: 140px;
    margin-top: 20px;
    margin-right: 200px;
    background-color: bisque;
}
