.container {
    text-align: center;
    
}
.usuario{
    
    margin-left: 200px;
    margin-right: 10px;
    margin-bottom: 20px;    
}
.funcionario{
  
    margin-left: 80px;
    margin-bottom: 20px;
}
h1{
    text-align: left;
    text-decoration: underline;
}
input{
    text-align: center;
    margin-top: 15px;
}


.confirmar{
    margin-left: 800px;
    margin-bottom: 0px;
padding-top: 10px;

}
.box{
    margin-left: 140px;
    margin-top: 20px;
    margin-right: 200px;
    background-color: bisque;
}
