#login {
    display:inline;
    position:absolute;
    background-color: white;
    top:  300px;
    left: 25px;
}

.field{
    padding-top: 20px;
}

.actions{
    padding-top: 20px;
}

.container {
    background-image: url(/public/img/LoginPage-img.png);
    background-size: cover;
    float:right;
    width: 705px;
    height: 918px; 
    padding: 10px;
    align-items: center;
}

.titulo{
    position:relative;
    top: 100px;
    font-family: 'Belleza';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

.titulo > img{
    padding-top: 50px;
}
.link{
    position: relative;
    top: 550px;
    text-align: center;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 16px;
    color: black;
}

.link > a{
    font-weight: bold;
    text-decoration: underline;
}

