
#login {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    top:  0;
    left: 0px;
}

.container{
    background-image: url(/public/img/LoginPage-img.png);
    background-size: cover;
    position: relative;
    top: -195px;
    left: 497px;
    display: grid;
    width: 705px;
    height: 918px;  
}

.container > h1{
  
    font-family: 'Belleza';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    
}